# Enforce strict checks.
build --incompatible_force_strict_header_check_from_starlark
build --strict_filesets
build --strict_system_includes
build --incompatible_strict_action_env

# Enforce strict checks of deprecated toolchain api.
build --incompatible_require_linker_input_cc_api

# Use new cc toolchain resolution api
build --incompatible_enable_cc_toolchain_resolution

# Code coverage support
coverage --combined_report=lcov
coverage --experimental_use_llvm_covmap
coverage --experimental_generate_llvm_lcov
coverage --incompatible_cc_coverage

# Static analyser support 
build:analyser --aspects //tools/clang_tidy:clang_tidy.bzl%clang_tidy_aspect --output_groups=report 

# Enable transitions for toolchains. Required for ARM toolchain to work 
# correctly.
build --incompatible_override_toolchain_transition