# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-18.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Mount bazel cache
        uses: actions/cache@v2
        with:
          path: "/home/runner/.cache/bazel"
          key: ${{ runner.os }}-bazel

      # Runs a single command using the runners shell
      - name: Bazel build/test external test repos
        run: |
          bazelisk test @com_google_googletest//... @com_github_google_benchmark//... @com_google_absl//... --test_tag_filters=-benchmark
          bazelisk build @com_google_googletest//... @com_github_google_benchmark//... @com_google_absl//...
          bazelisk build @com_google_googletest//... @com_github_google_benchmark//... @com_google_absl//... --aspects //tools/clang_tidy:clang_tidy.bzl%clang_tidy_aspect --output_groups=report
          bazelisk build @com_github_stmicroelectronics_stm32cubel4//:stm32l4xx_hal_driver @com_github_stmicroelectronics_stm32cubel4//:stm32_cmsis_driver --platforms=//tests:stm32l432xx
      
      - name: Bazel build/test internal test repos
        run: |
          bazelisk build //...
          bazelisk build //... --platforms=//tests:cortex_m0
          bazelisk build //... --platforms=//tests:cortex_m4
          bazelisk build //... --platforms=//tests:cortex_m7